<article class="media is-flex-mobile">
  <figure class="media-left">
    <p class="image is-64x64 is-flex">
      <%= image_tag("mamKar") %>
    </p>
  </figure>
  <div class="media-content">
    <%= render "form" %>
  </div>

</article>
<% @tweets.each do |tweet| %>
    <div class="card mb-5 mt-5">
      <header class="card-header">
      <p class="image is-32x32 is-flex ml-2">
        <%= image_tag("mamKar") %>
      </p>
      <h5 class="ml-2">Danito</h5>
      </header>
      <div class="card-content">
        <div class="content">
          <p><%= tweet.twet %></p>
        </div>
        <time>
          <%= tweet.created_at %>
        </time>
      </div>
      <footer class="card-footer">
        <%= link_to tweet, class: "card-footer-item " do %>
          <%= image_tag("look", size: "20") %>
        <%end%>
        <%= link_to edit_tweet_path(tweet), class: "card-footer-item " do %>
          <%= image_tag("edit", size: "20") %>
        <%end%>
        <%= link_to tweet, class: "card-footer-item", method: :delete, data: {confirm: "You really want  to DELETE this Tweet ?"} do %>
          <%= image_tag("delete", size: "20") %>
        <%end%>
      </footer>
    </div>
  <%end%>