<div class="media">
  <% if user_signed_in?%>
    <%= image_tag current_user.photo.url, class: "img-s"%>
    <div class="media-body"> 
      <%= render "form" %>
    </div>
  <%end%>
</div>

<ul class="list-unstyled">
  <% @tweets.each do |tweet| %>
    <div class="media mt-4">
        <%= image_tag tweet.user.photo.url, class: "img-s"%>
      <div class="media-body">
        <h5 class="mt-0 mb-1 name-bar">
          <%= tweet.user.name%>
          <small><%= tweet.user.username%></small>
        </h5>
        <p class="rem-font">
          <%= tweet.tweet %>
        </p>
        <div class="card">
          <div class="card-body">
            <div class="card-header font">
              <%= tweet.created_at.strftime("%Y-%m-%d") %> 
              at 
              <%= tweet.created_at.strftime("%H : %M") %>
            </div>
            <% if user_signed_in?%>
              <%= link_to tweet, class: "btn" do %>
                <%= image_tag("look", size: "20") %>
              <%end%>
              <%= link_to edit_tweet_path(tweet), class: "btn " do %>
                <%= image_tag("edit", size: "20") %>
              <%end%>
              <%= link_to tweet, class: "btn", method: :delete, data: {confirm: "You really want  to DELETE this Tweet ?"} do %>
                <%= image_tag("delete", size: "20") %>
              <%end%>
            <%end%>
            
          </div>
      </div>
      </div>
    </div>
  <%end%>
</ul>



