<div class="media">
  <% if user_signed_in?%>
    <%= image_tag("mamKar", class: "align-self-center mr-3 s-img") %>
    <div class="media-body"> 
      <%= render "form" %>
    </div>
  <%end%>
</div>

<ul class="list-unstyled">
  <% @tweets.each do |tweet| %>
    <div class="media mt-4">
      <%= image_tag("mamKar", class: "mr-3 s-img" ) %>
      <div class="media-body">
        <h5 class="mt-0 mb-1">
          <%= tweet.user.name %>
          <small><%= tweet.user.username %></small>
        </h5>
        <p><%= tweet.tweet %></p>
        <div class="card">
          <div class="card-body">
            <div class="card-header"><%= tweet.created_at %></div>
            <%= link_to tweet, class: "btn gr-dark-bg ygr-light-fg" do %>
              <%= image_tag("look", size: "20") %>
            <%end%>
            <%= link_to edit_tweet_path(tweet), class: "btn gr-dark-bg ygr-light-fg" do %>
              <%= image_tag("edit", size: "20") %>
            <%end%>
            <%= link_to tweet, class: "btn gr-dark-bg ygr-light-fg", method: :delete, data: {confirm: "You really want  to DELETE this Tweet ?"} do %>
              <%= image_tag("delete", size: "20") %>
            <%end%>
          </div>
      </div>
      </div>
    </div>
  <%end%>
</ul>



