<div class="form">
	<h2>Forgot your password?</h2>
	<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		<%= f.error_notification %>
		<div class="form-group">
			<%= f.input :email, required: true, autofocus: true, input_html: { class: "form-control"}, wrapper: false, label_html: { class: "label" } %>
		</div>
		<div class="form-goup">
			<%= f.button :submit, "Send me reset password instructions", class:"submit-btn" %>
		</div>
	<%end%>
	<br />
	<%= render "devise/shared/links" %>

</div>
