<!DOCTYPE html>
<html>
  <head>
    <title>LetsTwitt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="alert alert-success" style="margin: 0;">
        <p><%= notice %></p>
      </div>
    <%end%>
    <% if flash[:alert] %>
      <div class="alert alert-danger" style="margin: 0;">
        <p><%= alert %></p>
      </div>
    <%end%>
    <nav class="navbar navbar-expand-lg br-bg" >
      <%= link_to "LetSTwitt", root_path, class: "brand-logo logo"%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <% if user_signed_in?%>
        <li class="nav-item">
          <%= link_to "Edit Profile", edit_user_registration_path, class: "btn gr-dark-bg ygr-light-fg" %>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"btn gr-dark-bg ygr-light-fg" %>
        </li>
      <%else%>
        <li class="nav-item">
          <%= link_to 'Sign In', new_user_session_path, class: "btn gr-dark-bg ygr-light-fg" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Up', new_user_registration_path, class: "btn gr-dark-bg ygr-light-fg" %>
        </li>
      <%end%>

    </nav>


      <%= yield %>
    

  </body>
</html>
